@{
    ViewBag.Title = "Домашняя страница";
}

<div id="content">
                    <h2 align="center">Выбор категории</h2> <!-- заголовок-->
                    <br/><!-- перенос на следующую строку-->
                    <div>
                    <table width="100%" border="0">
<tr>
<td align="center"><a href="monoblocks/hp/1.html" title="Моноблоки" ><img src="Content/img/380524.jpg" width="40%"/></a></td>
<td align="center"><a href="smartphones/samsung/3.html" title="Смартфоны"><img src="Content/img/322710.jpg" width="40%"/></a></td>
<td align="center"><a href="smartphones/samsung/3.html" title="Ноутбуки"><img src="Content/img/334919.jpg" width="40%"/></a></td>
</tr>
<tr>
<td align="center">Моноблоки</td>
<td align="center">Телефоны</td>
<td align="center">Ноутбуки</td>
</tr>
<tr>
<td align="center"><a href="smartphones/samsung/3.html" title="Мониторы"><img src="Content/img/328702.jpg" width="40%"/></a></td>
<td align="center"><img src="Content/img/368118.jpg" alt="Samsung Galaxy Note 2" width="40%"/></td>
<td align="center"><img src="Content/img/334919_1.jpg" alt="notebook Apple" width="40%"/></td>
</tr>
<tr>
<td align="center">Мониторы</td>
<td align="center">Телефоны</td>
<td align="center">Ноутбуки</td>
</tr></table>
                    </div>  
					<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                </div>
